# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EcommerceProjectVC#.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Visual Studio .vs folder
.vs/

# Ignore JetBrains Rider / IntelliJ IDEA .idea folder
.idea/


# Ignore temporary files from JetBrains IDEs
*.iml
*.iws
.idea/

# Ignore build artifacts and user-specific files
*.user
*.suo

# Ignore database and cache files
*.db
*.vsidx
*.v2
